body{
    display: grid;
    grid-template-areas:
    'cim cim'
    'menu menu'
    'kak1 info'
    'cp cp';
    gap: 10px;
}
#cim{
    grid-area: cim;
    background-color: rgb(109, 197, 226);
    border: rgb(77, 142, 228) 3px solid;
    border-radius: 15px;
    color: white;
    text-align: center;
    padding: 20px;
}
#menu{
    grid-area: menu;
    background-color: rgb(77, 142, 228);
    border: rgb(77, 142, 228) 3px solid;
    border-radius: 15px;
    color: yellow;
    text-align: left;
    padding: 15px;
}
a{
    color: yellow;
    text-align: left;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
}
#cp{
    grid-area: cp;
    background-color: rgb(109, 197, 226);
    border: rgb(77, 142, 228) 3px solid;
    border-radius: 15px;
    color: white;
    text-align: center;
    padding: 20px;
}
#kak1{
    grid-area: kak1;
    background-color: rgb(109, 197, 226);
    border: rgb(77, 142, 228) 3px solid;
    border-radius: 15px;
}
#info{
    grid-area: info;
    background-color: rgb(109, 197, 226);
    border: rgb(77, 142, 228) 3px solid;
    border-radius: 15px;
    list-style: decimal;
}
ul{
    list-style: decimal;
}
#m{
    background-color:rgb(109, 197, 226);
    border-radius: 10px;
    margin: 5px;
    padding: 7px;
}